body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
.top-container{

  margin: 0 auto ;
  padding-top: 20px;
  position: relative;
  background-color: #E4F9F5;
}

.middle-container{
  padding: 100px 0 100px 0;
  background-color: #F4F9F9;
}
.bottom-container{
background-color: #66BFBF;
padding-bottom: 20px;
padding-top: 20px;
}
.bottom-cloud{
  position: relative;
  bottom: 300px;
  right: 100px;
}
.top-cloud{
  position: relative;
  left: 300px;
  top:50px;
}
h1{
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  color: #66BFBF;
}
h2{
  color: #66BFBF;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}
p{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}
h3{
  font-family: 'Source Code Pro', monospace;
  color:  #11999E;
  font-size: 1.5rem;
}
.button{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 30px;
  border-radius: 50%;

}
.button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;

}
.code-img{
  float: left;
  margin-right: 30px;
  width: 25%;
}
.burg-img{
  float: right;
  margin-left: 20px;
  width: 20%;
  position: relative;
  bottom: 50px;
  right: 50px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}
.mountain-img{
  margin: 0 auto;
  position: relative;
  right: 50px;
}
.btn:hover {
  background: #1e4b66;
  text-decoration: none;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}
.logo{
  width: 2%;
  margin: 5px auto;

}
.button{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 30px;
  border-radius: 50%;

}

.button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
a{
  text-decoration: none;
  margin: 05px 02px;
}
.copyright{
  font-size: 0.75rem;
  color: white;
  margin-bottom: 15px;
}
